#zhuce-hd{width: 1263px;height: 116px;margin: 0 auto;background: #fff;}
#zhuce-hd .logo{width: 220px;height: 76px;background: url("../images/header-20160223.gif") 0 0 no-repeat;float: left;margin-left: 35px;margin-top: 20px}
#zhuce-hd h2{float: left;color:red;font-size: 28px;font-weight: normal;margin: 70px 0 0 0}
#zhuce-hd .list{float: right;margin-top: 57px}
#zhuce-hd .list li{background: url("../images/footer-01.png") 0 0 no-repeat;width: 170px;height: 50px;float: left}
#zhuce-hd .list .first{background-position:0 -84px;padding-left: 40px }
#zhuce-hd .list .second{background-position:0 -161px;padding-left: 40px }
#zhuce-hd .list .third{background-position:0 -233px;padding-left: 48px }
#zhuce-hd .list .p1{font-size: 17px;}
#zhuce-hd .list .p2{color: #ccc;}
#zhuce-hd .list .p1 span{color: red}

#zhuce-main{height: 572px;background: #f1f1f1;}
#zhuce-main .yt-pic{float: left;margin: 63px 0 0 35px}
#zhuce-main .yt-zhuce{width: 321px;height: 463px;float: right;margin: 60px 36px 0 0;background: #fff;}
#zhuce-main .p-zhuce{width: 321px;height: 47px;background: #e5004f;color: #fff;line-height: 47px;text-align: center;font-size: 19px}
#zhuce-main .p-notice{font-size: 13px;float: right;margin-top: 20px;margin-bottom: 21px;}
#zhuce-main .p-notice a{color: red}
.client-phone input{width: 281px;height: 44px;border:1px solid #ccc;background: #eee;}
.client-phone{margin:0 0 0 21px;}
.client-phone .tishi{padding: 3px 0;visibility: hidden}
.client-password input{width: 281px;height: 44px;border:1px solid #ccc;background: #eee;}
.client-password{margin:0 0 0 21px;}
.client-password .tishi{padding: 3px 0;visibility: hidden}
.client-queren input{width: 281px;height: 44px;border:1px solid #ccc;background: #eee;}
.client-queren{margin:0 0 0 21px;}
.client-queren .tishi{padding: 3px 0;visibility: hidden}
.client-yanzheng input{width: 105px;height: 45px;border:1px solid #ccc;background: #eee;}
.client-yanzheng{margin:0 0 0 21px;}
.client-yanzheng .tishi{padding: 3px 0;visibility: hidden}
.client-tongyi input{width: 13px;height: 13px;margin-right: 5px}
.client-tongyi span{color: red}
.client-tongyi{margin-bottom: 20px}
.client-zhuce p{width: 281px;height: 41px;font-size: 13px;background: #e5004f;line-height: 41px;text-align: center;color: #fff;cursor:pointer}

#zhuce-foot{height: 204px;background: #fff;}
#zhuce-foot .yt-contact{width: 854px;height: 17px;margin: 40px auto}
#zhuce-foot .yt-contact li{float: left;padding: 5px}
#zhuce-foot .p1{width: 545px;margin: 0 auto}
#zhuce-foot .p2{width: 217px;margin: 10px auto}

.brand{width: 317px;margin: 0 auto}
.brand a{margin: 0 3px;}








